// preset and default
@import './preset/color';
@import './preset/text';
@import './preset/reset';
@import './preset/mixin';

// global
@import './components/globalComponent/bulletinHeader';

// login
@import './components/login/login';

// surfing bulletin
@import './components/surfingBulletin/surfingBulletin';
@import './components/surfingBulletin/article';
@import './components/surfingBulletin/publicArticle';

// reply
@import './components/replyArticle/replyArticle';
@import './components/replyArticle/replyInput';
@import './components/replyArticle/showReply';

@include rwd(mobile) {
}

@include rwd(tablet_portrait) {
}

@include rwd(tablet_landscape) {
}

@include rwd(pc_normal) {
}

@include rwd(pc_large) {
}

.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.input_style {
  border: 0px transparent;
  border-bottom: 1px solid $c_main2;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: transparent;
}

.button_style {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border: 0px transparent;
  background-color: $c_main2;
  width: 80px;
  height: 35px;
  border-radius: 3px;
  color: $c_white;
  transition: 0.5s;

  &:hover {
    background-color: $c_main1;
  }
}
