.article_box {
  box-shadow: 5px 5px 10px $c_main3;
  border-radius: 10px;
  & + & {
    margin-top: 50px;
  }
}

.article_header {
  // display: flex;
  box-sizing: border-box;
  padding: 15px 10px;

  .article_title {
    // flex: 1;
    font-size: $t_size4;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .article_author_time_wrapper {
    // flex: none;
    // width: 150px;
    text-align: right;
    box-sizing: border-box;
    color: $c_assist1;
    font-size: $t_size7;

    p {
      display: inline-block;
      line-height: 24px;
    }

    p + p {
      margin-left: 10px;
    }
  }
}

.article_img_wrapper {
  text-align: center;

  .article_img {
    max-width: 100%;
  }
}

.article_content_wrapper {
  box-sizing: border-box;
  padding: 10px;
  line-height: 24px;
  letter-spacing: 1px;
}

.article_info_wrapper {
  box-sizing: border-box;
  padding: 10px 0;
}

.article_info_sub_wrapper {
  display: inline-block;
  & + & {
    margin-left: 10px;
  }

  .article_icon {
    padding-right: 5px;
    > .fa-heart {
      color: $icon_heart;
    }

    > .fa-comment-dots {
      color: $icon_reply;
    }
  }
}
