$c_main1: #ff8c00;
// $c_main2: #d5c6c6;
$c_main2: #ffa500;
$c_main2_rgba: rgba(204, 172, 118, 0.7);
$c_main3: #faf0e6;
$c_main4: #f2f7fd;

$c_assist1: #95a5a6;

$icon-heart: #a20025;
$icon-reply: #60a917;

// assist
$c_white: #ffffff;
$c_assist1: #95a5a6;
$c_assist2: #e8e8e8;
$c_assist3: #bc4040;

// categories
$c_html: #d3756b;
$c_css: #65a1c9;
$c_js: #e8d674;
$c_tools: #e0b07e;
$c_others: #8db4ac;

// text
$c_article_title: #2e2e2e;
$c_normal_text: #5d5a58;
$c_normal_text2: #95a5a6;
$c_normal_text3: #e8e8e8;

// ???
$c_nav_item_hover: #68768a;
$c_nav_item: #95a5a6;
$c_box_shadow: #34495e;
